/******************************
GENERAL
******************************/

body {
	font-family: Tahoma, Verdana, sans-serif;
	/* background-image: url("../img/parchment.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%; */
}


/* *****************************
BODY
***************************** */


header {
	position: fixed;
	text-align: center;
	height: 110px;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color: #fff;
}

header span {
	font-size: 75%;
}

#wrapper {
	background-image: url("../img/parchment.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	margin-top: 110px;
	margin-bottom: 31px;
	padding-left: 10%;
	padding-right: 10%;
}

#headShot {
	float: right;
	margin-bottom: 12px;
	margin-top: 12px;
	margin-left: 1em;
}

#headCaption {
	float: right;
	width: 188px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 1em;
}

aside {
	padding-top: 10px;
}

article h3 {
	clear: both;
}

h2 {
	margin-top: 16px;
	margin-bottom: 16px;
}

p {
	margin-bottom: 16px;
}

.footer {
	font-size: 80%;
	padding-bottom: 6px;
	border-bottom: 2px solid black;
	margin-top: 16px;

}


/******************************
FOOTER
******************************/

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right:0;
	font-weight: bold;
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	background-color: #000;
}

footer p {
	margin-top: 10px;
  	margin-bottom: 10px;
}


/******************************
MEDIA QUERIES
******************************/

@media only screen and (max-width:374px) {
	
	header {
		height: 144px;
	}

	#wrapper {
		margin: 144px auto 31px;
	}

	#headShot {
		float: left;
		margin-bottom: 12px;
		margin-top: 12px;
		margin-left: 0;
	}

	#headCaption {
		float: left;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 12px;
	}
	
	aside {
		padding-left: 0;
		margin-left: 0;
	}

	h3 {
		font-size: 80%;
	}

	section {
		clear: both;
	}

	h2 {
		font-size: 125%;
	}

	footer {
    	font-size: .6em;
 	}
 }

@media only screen and (max-width:767px) {
	#headShot {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
 
	h3 {
		font-size: 80%;
	}

	h2 {
		font-size: 125%;
	}

	footer {
    	font-size: .6em;
 	}

	footer p {
  		margin-top: 10px;
  		margin-bottom: 10px;
	}
}